<!--https://app.iterable.com/templates/snippet/276009/edit-->

<!-- Political Newsletter -->
{{#ifMatchesRegexStr newsletter "[Pp]olitics [Pp][Mm]"}}
<!-- -->
{{{ snippet "builds-political-pm-header" }}}
<!-- -->
{{/ifMatchesRegexStr}}

<!-- AM ATL Newsletter -->
{{#ifMatchesRegexStr newsletter "[Aa][Mm] [Aa][Tt][Ll]"}}
<!-- -->
{{{ snippet "builds-am-atl-header" }}}
<!-- -->
{{/ifMatchesRegexStr}}

<!-- Sports Daily Newsletter -->
{{#ifMatchesRegexStr newsletter "[sS]ports [dD]aily"}}
<div>
  {{{ snippet "builds-sports-daily-header" }}}
  <img
    src="https://library.iterable.com/1840/7019/6529cba0f1ac43ad9d0496c421f343ca-a-m-atl-header-desk-v-23x.png"
  />
</div>
{{/ifMatchesRegexStr}}
